IRI parser fails for empty fragments and query strings

For instance parsing an IRI like `"http://www.w3.org/2001/XMLSchema#"` fails.
According the [RFC 3987 Section 2.2](https://www.rfc-editor.org/rfc/rfc3987#section-2.2), they are allowed to be empty, even if `?` or `#` are specified.